<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.sport.mapper.CourtRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fc.sport.entity.CourtRule">
        <result column="id" property="id" />
        <result column="is_deleted" property="deleted" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="place_id" property="placeId" />
        <result column="name" property="name" />
        <result column="min_price" property="minPrice" />
        <result column="effective_start" property="effectiveStart" />
        <result column="effective_end" property="effectiveEnd" />
        <result column="is_effect" property="effect" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_deleted,
        creator,
        modifier,
        create_time,
        modify_time,
        place_id, name, min_price, effective_start, effective_end, is_effect
    </sql>

</mapper>
